/* default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI E;
}

/* header section */
.first-header {
  display: flex;
  background-color: #161b22;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 30px;
}
.header {
  display: flex;
  justify-content: space-around;
}
.git-icon {
  font-size: 40px;
  margin-right: 20px;
}
.input {
  width: 200px;
  height: 35px;
  margin-top: 3px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  outline: none;
  border: solid 1px grey;
  transition: width 1s;
}
.input:focus {
  width: 400px;
}
.input::placeholder {
  color: white;
}
.top-ul .top-li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 10px 5px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.right-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.drop-down {
  margin-right: 20px;
  margin-left: 5px;
}
a:hover,
.select:hover,
.git-icon:hover,
.add-icon:hover,
.bell:hover {
  color: rgba(240, 246, 252, 0.7);
}
.bell {
  margin-right: 20px;
}
.user-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

/* second header section */
.second-header {
  width: 100%;
  height: 100px;
  box-shadow: 2px 1px 3px rgba(128, 128, 128, 0.2);
}
.nav-bar {
  width: 75%;
  float: right;
  height: 70px;
}
.active {
  color: black;
  border-bottom: 3px solid orange;
}
.activelink {
  color: black !important;
}
.rep-count {
  color: black;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
}
.nav-ul .nav-li {
  display: inline-block;
  padding: 38px;
  padding-top: 55px;
  padding-bottom: 21px;
}
.nav-li a {
  color: grey;
  font-size: 18px;
}
.nav-icon {
  margin-right: 5px;
}
.nav-li a:hover {
  color: black;
}
/* body content section */
.body-content {
  display: flex;
  justify-content: space-between;
}
.left {
  margin-left: 50px;
}
.avatar {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  top: -25px;
  position: relative;
  background-color: grey;
}
.name {
  font-size: 2rem;
}
.user-name {
  font-size: 16px;
  color: grey;
  padding-bottom: 20px;
}
.desc,
.profession {
  font-size: 14px;
  width: 200px;
}
.right {
  width: 100%;
  padding: 30px;
}
.rep-input {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  border: solid rgba(128, 128, 128, 0.2) 1px;
}
hr {
  margin: 20px 0;
  border: rgba(128, 128, 128, 0.2) 1px solid;
  height: 1px;
}
.count-hr {
  width: 260px;
}
.count {
  font-weight: bold;
  padding-right: 5px;
}
.pinable {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 350px;
  left: 315px;
}

/* repo info */
.repo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repo-name {
  color: #58a6ff;
  padding-bottom: 10px;
  cursor: pointer;
}
.repo-desc {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}
.repo-language {
  color: rgba(0, 0, 0, 0.7);
}
p:empty {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}
.repo-lang-icon {
  margin-left: 20px;
}
.updated {
  padding-left: 10px;
}
.star-btn {
  width: 70px;
  height: 25px;
  outline: none;
  border: 1px;
  border-radius: 3px;
  background-color: rgba(35, 65, 100, 0.1);
  cursor: pointer;
}
.no-user {
  text-align: center;
  font-size: 200%;
  color: #58a6ff;
  padding-top: 10%;
}

/* home section */

.home-section {
  height: 60vh;
  background-color: #fff;
  width: 40%;
  margin-top: 10%;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 1px rgba(35, 65, 100, 0.1);
}
.body {
  background-color: rgba(128, 128, 128, 0.2);
  display: grid;
  place-items: center;
}
#search {
  height: 40px;
  width: 80%;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
}
.sub-btn {
  width: 15%;
  height: 40px;
  background-color: rgba(35, 65, 100, 0.3);
  outline: none;
  border: none;
  border-radius: 5px;
}
.search-user {
  font-size: 250%;
  padding: 50px 0 100px 0;
}

@media only screen and (max-width: 820px) {
  .home-section {
    height: 70vh;
    width: 90%;
    margin-top: 20%;
  }
  .body-content {
    display: block;
  }
  .nav-ul .nav-li {
    display: none;
  }
  .top-ul .top-li {
    display: none;
  }
  .input {
    width: 100px;
    transition: width 1s;
  }
  .input:focus {
    width: 150px;
  }
  .left {
    text-align: center;
    margin-left: 0;
  }
  .profession {
    width: 100%;
  }
}

@media only screen and (max-width: 935px) {
  .nav-ul .nav-li {
    padding: 38px 10px;
  }
  .nav-ul .nav-li a {
    padding: 10px;
  }
}
